/*==================     ToTop     ======================*/
.toTop {
  width: 42px;
  height: 42px;
  font-size: 42px;
  line-height: 42px;
  color: rgba(#fff, .5);

  position: fixed;
  right: 66px;
  bottom: 180px;

  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
